
.modals {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-img {
    margin: 50px 0 0 430px;
    max-width: 670px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 90px;
    right: 245px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.item-gallery:hover
{
    cursor: pointer;
    background-color: darkgoldenrod;
}
.slide:hover
{
    opacity: 0.9;
    cursor: pointer;
}