body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.header-right {
    height: auto;
    background-color: #303030;
    margin: 0;
    padding-right: 0%;
    padding-left: 20px;
    width: 233px;
}

.header-right h4 {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 38px;
    color: #ffffff;
    margin: 0;
}

.social {
    height: auto;
    background-color: rgba(170, 64, 67, 0.4);
    padding-right: 0%;
    padding-left: 20px;
    width: 233px;
}

.social ul {
    margin: 0;
    list-style: none;
    padding: 15px 15px;
}

.social ul li {
    line-height: 22px;
    display: flex;
}

.ulsocial li img {
    margin-top: 2px;
    height: 16px;
    width: 16px;
    z-index: -1;
}

.social ul li a {
    color: #ffffff;
}